html, body {
  margin:0px;
  padding:0px;
  font-family: @cabin-font-family;
  height: 100%;
}

a {
	color: #00B7FF;
}

a.plain-link {
	text-decoration: none;
	line-height: 1.7;
}

a.plain-link:hover{
	text-decoration: underline;
	cursor: pointer;
}
h1{
	margin: 0px;
	padding: 10px;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size: 1em;
}

/* fonts */
@cabin-font-family: 'Cabin', Verdana, sans-serif;

/* colors */
@white: #FFFFFF;
@black: black;
@off-white-background: #F0F3F4;
@primary-red: #FF5252;
@dark-gray:  #37424b;