div.center-column-black
              p © 2016 CarShare Compare, All Rights Reserved.
              div.disclaimer
                hr.blue
                small.
                  Disclaimer: CarShare Compare strives to keep its information accurate and up to date. This information may be different than what you see when you visit a car share service provider or specific service’s site. This site's services are presented without warranty. Additionally, this site may be compensated through third party advertisers. However, the results of our comparison service tool are based on objective analysis. For more information, please feel free to email with inquiries.