//- nav.top-nav
//-   a(href="/")
//-       img(class="logo small" src="/images/assets/logos/carShare_text_logo_white.png")
//-   span(id="openBtn" aria-hidden="true")
//-     svg(version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30')
//-       rect(width='30' height='3')
//-       rect(y='12' width='30' height='3')
//-       rect(y='24' width='30' height='3')
//-   span(id="closeBtn" aria-hidden="true")
//-     svg(version="1.1" width='30px' height='30px')
//-       line(x1="0" x2="30" y1="0" y2="30" stroke-width="3" stroke="white")
//-       line(x1="30" x2="0" y1="0" y2="30" stroke-width="3" stroke="white")
//-   div.compare-now-button
//-     a(href="/list")
//-       button.primary back to list
//-   br
div#slide-nav.menu-container
    div.nav-bar
        ul
          a(href="/")
            li Home
          a(href="/list")
            li Compare
          a(href="")
            li.dropdownBtn Detail
                div.dropdownContent
                    a(href="/Maven") Maven
                    a(href="/Getaround") Getaround
                    a(href="/City%20CarShare") City CarShare
                    a(href="/Zipcar") Zipcar
                    a(href="/Turo") Turo
                    a(href="/Enterprise%20CarShare") Enterprise
          a(href="/about")
            li About
          a(href="/contact")
            li Contact
        div.nav-footer
         div.social-icons
          p Find us on social media
          img(src="/images/assets/icons/square-facebook.svg")
          img(src="/images/assets/icons/square-twitter.svg")
          img(src="/images/assets/icons/mail-square-social-media.svg")
          div.copyright
            p © 2016 Car Share Compare, All Rights Reserved.