nav.desktop-nav
  ul
    a(href="/")
        li Home
    a(href="list")
        li Compare
    //- a(href="")
    li.dropdownBtn Detail
        div.dropdownContent
            a(href="/Maven") Maven
            a(href="/Getaround") Getaround
            a(href="/City%20CarShare") City CarShare
            a(href="/Zipcar") Zipcar
            a(href="/Turo") Turo
            a(href="/Enterprise%20CarShare") Enterprise
    a(href="about")
        li About
    a(href="contact")
        li Contact
