div.modal-container
  div.modal-alert
    span.exclimation
    button(class="close modal" title="Close window") X
    div.modal-head
      h3 Alert
      hr.blue
    div.modal-body
      p Check the boxes for the services you would like to compare