.container {
    position: relative;
    width: 20px;
    height: 20px;
    left: 95%;
}


input[type="checkbox"]{
    visibility: hidden;
    position: absolute;
    height: 20px;
    width: 20px;
}

label > input[type="checkbox"] + span {
    /*margin:-1px 4px 0 0;*/
    // padding: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 3px;
    cursor:pointer;
    pointer-events: none;
    // box-sizing: border-box;
}


label > input[type="checkbox"]:checked + span {
    background: url(../../images/icons/icon-checkmark.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}