@import '../../styles/global.less';

.list-container {
	width: 100%;
}

.top-section {
	display: flex;
	justify-content: space-between;
}

.list-container img {
	float: left;
	width: 96px;
	height: 96px;
	margin-right: 10px;
}

.list-container h3 {
	text-align: left;
}

.list-container li {
	list-style: none;
	text-align: left;
	font-size: .75em;
}

.list-container ul.spotlight-features > li {
	list-style: none;
	text-align: left;
	font-size: .75em;
	padding-bottom: 8px;
}

.cta-button-container {
	// margin-top: -15px;
	text-align: center;
	/*padding: 10px;*/
}

.cta-button-container button {
	margin-bottom: 20px;
	font-size: 18px;
}

.cta-button-container a {
	text-decoration: none;
}
.cta-button-container a:hover{
	text-decoration: underline;
}

.compare-now-button button {
	float: right;
	/*position: absolute;*/
	right: 0%;
	margin: 5px 70px 0px 0px;
	font-size:16px;
	font-weight: 100;
	width: auto;
	height: 40px;
	line-height: 0px;
}

.list-logo-box {
	height: 130px;
	float: left;
}

.flex-right {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}