@import '../../styles/global';

.logo {
	padding: 15px;
	margin: 20px 0px 0px 20px;
	height: 40px;
	width: 250px;
}

.container {
	position: absolute;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0 0;
	width: 100%;
	
	// top level links
	& nav > ul {
		padding: 0px;
		margin: 0px;
		width: 100%;
			> li > a:hover {
				list-style: none;
				border-bottom: solid 5px transparent;
				border-bottom: solid 5px @primary-red;
			}	
			> li {
			float: left;
			list-style: none;
			// target both the top level links and sub menu links
			a {
				color: white;
				font-size: 1.5em;
				list-style: none;
				padding-top: 10px;
				margin-right: 20px;
				text-decoration: none;
			}
			a:hover {
				border-bottom: solid 5px @primary-red;
			}
			.subMenuOpen {
				display: block;
			}
			// second level detail links
			ul {
				display: none;
				padding: 10px;
				position: absolute;
				margin: 0px;
				background-color: @dark-gray;
				> li {
					padding: 5px;
					list-style: none;
					a {
						padding: 0px;
					}
				}
			}
		}
	}
}